@model Ninja

<h1>Ninja verwijderen</h1>
<p>Weet je zeker dat je de ninja <strong>@Model.Name</strong> wilt verwijderen?</p>
<strong>Dit kan niet teruggedraaid worden!</strong>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger" type="submit">Ja</button>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Nee</a>
</form>