@model List<Ninja>

<div class="container">
    <h1 class="mb-3">Ninja's</h1>
    
    <div class="row row-cols-4 gap-3">
        @foreach (var ninja in Model)
        {
            <a class="col text-decoration-none text-black" asp-action="Edit" asp-route-id="@ninja.Id">
                <div class="card">
                    <div class="card-header">
                        <h2>@ninja.Name</h2>
                    </div>
                    
                    <div class="card-body">
                        <ul>
                            <li>Gold: @ninja.Gold</li>
                            <li>Strength: 1</li>
                            <li>Intelligence: 1</li>
                            <li>Agility: 1</li>
                            <li>Value: 1</li>
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
</div>