@model Equipment
@{
    var count = TempData["Count"] as int?;
    ViewData["Title"] = "Equipment verwijderen";
}
<h1>Equipment verwijderen</h1>
<p>Weet je zeker dat je de Equipment <strong>@Model.Name</strong> wilt verwijderen?</p>

@if(count == 1){
    <p>@count ninja heeft deze equipment</p>
}
@if(count >1){
    <p>@count ninja's hebben deze equipment</p>
}

<form method="post">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger" type="submit">Ja</button>
    <a class="btn btn-secondary" asp-action="Index">Nee</a>
</form>